<nav class="navbar">
    <div>
        <span class="font-bold text-lg text-red-500">FP</span>
    </div>
    <ul>
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Approach</a></li>
        <li><a href="#" class="nav-link">Work</a></li>
        <li><a href="#" class="nav-link">Services</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
    </ul>
</nav>
