---
interface Props {
  brandInitial: string;
  brandHandle: string;
  href: string;
}

const { brandInitial, brandHandle, href } = Astro.props;
---

<a href={href} class="flex flex-col items-start text-white">
  <span class="text-xl font-bold">{brandInitial}</span>
  <span class="hidden text-xs md:block">{brandHandle}</span>
</a>
