---
import { Icon } from "astro-icon/components";
import type { NavItem } from "@/lib/data/common/navigation";

interface Props {
  items: NavItem[];
  cta: {
    text: string;
    href: string;
    icon: string;
  };
}

const { items, cta } = Astro.props;
---

<ul
  id="menu"
  class="pointer-events-none absolute top-full left-0 flex w-full translate-y-0 flex-col gap-5 rounded-xl border border-[var(--color-slate-700)] bg-[var(--color-light-navy)] px-4 pt-8 pb-4 text-[var(--color-text-main)] opacity-0 transition-all duration-300 ease-out md:pointer-events-auto md:static md:w-auto md:translate-y-0 md:flex-row md:items-center md:gap-8 md:border-none md:bg-transparent md:p-0 md:opacity-100"
>
  {
    items.map((item) => (
      <li>
        <a
          href={item.href}
          class="block transition hover:text-[var(--color-cyber-teal)]"
        >
          {item.title}
        </a>
      </li>
    ))
  }

  <!-- Mobile CTA -->
  <li class="md:hidden">
    <button
      class="btn-gradient flex w-full items-center justify-center gap-2 rounded-lg px-3 py-1.5 transition md:flex md:hidden"
    >
      <span>{cta.text}</span>
      <Icon name={cta.icon} class="h-4 w-4" />
    </button>
  </li>
</ul>
