<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-white text-slate-800">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
<script>
  const btn = document.getElementById("menuBtn");
  const menu = document.getElementById("menu");

  btn?.addEventListener("click", () => {
    const isOpen = menu?.classList.contains("opacity-100");

    menu?.classList.toggle("opacity-100");
    menu?.classList.toggle("translate-y-0");
    menu?.classList.toggle("pointer-events-auto");

    menu?.classList.toggle("opacity-0");
    menu?.classList.toggle("translate-y-2");
    menu?.classList.toggle("pointer-events-none");

    btn?.setAttribute("aria-expanded", String(!isOpen));
  });
</script>
